In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [ ]:
# df = pd.read_parquet('ny_taxi_data/yellow_tripdata.parquet')

In [ ]:
# df.head()

In [ ]:
# df.to_csv('ny_taxi_data/yellow_tripdata.csv')

In [ ]:
# df = pd.read_csv('ny_taxi_data/yellow_tripdata.csv', nrows=100)

In [ ]:
# df.head(10)

In [ ]:
# len(df.columns)

In [ ]:
# print(pd.io.sql.get_schema(df, name="Yellow Table"))

In [ ]:
# df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
# df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
# print(pd.io.sql.get_schema(df, name="Yellow Table", con=engine))

In [7]:
df_iter = pd.read_csv('ny_taxi_data/yellow_tripdata.csv', iterator=True, chunksize=100000)

In [8]:
df1 = next(df_iter)

In [9]:
len(df1)

100000

In [29]:
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [28]:
df1.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [10]:
df1.tpep_pickup_datetime = pd.to_datetime(df1['tpep_pickup_datetime'])
df1.tpep_dropoff_datetime = pd.to_datetime(df1['tpep_dropoff_datetime'])

In [11]:
print(pd.io.sql.get_schema(df1, name="Yellow Table", con=engine))

CREATE TABLE "Yellow Table" (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
df1.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [13]:
df1.head(n=0)

Empty DataFrame
Columns: [Unnamed: 0, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [15]:
%time df1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.5 s
Wall time: 9.92 s

1000

In [16]:
from time import time

In [17]:
while True:
  t_s = time()
  df = next(df_iter)

  df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
  df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

  df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
  t_e = time()
  print(f"Insertedd anoth chunk..., took {t_e - t_s}")

Insertedd anoth chunk..., took 10.082724571228027
Insertedd anoth chunk..., took 9.900928258895874
Insertedd anoth chunk..., took 9.926203727722168
Insertedd anoth chunk..., took 9.89850664138794
Insertedd anoth chunk..., took 9.98427152633667
Insertedd anoth chunk..., took 9.63631010055542
Insertedd anoth chunk..., took 9.841646194458008
Insertedd anoth chunk..., took 9.196848154067993
Insertedd anoth chunk..., took 9.328770637512207
Insertedd anoth chunk..., took 9.502171277999878
Insertedd anoth chunk..., took 9.518871545791626

C:\Users\Thevelopher\AppData\Local\Temp\ipykernel_16264\4207673776.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Insertedd anoth chunk..., took 9.97514533996582
Insertedd anoth chunk..., took 6.266306638717651

StopIteration:

In [ ]:
# dataframe_tmp = pd.read_csv('Sample-Spreadsheet-10000-rows.csv', encoding='unicode_escape')

# dataframe_tmp[1:]
# help(dataframe_tmp)

In [18]:
df2 = pd.read_csv('ny_taxi_data/taxi_zone_lookup.csv', inde)

In [19]:
print(pd.io.sql.get_schema(df2, name="Lookup", con=engine))

CREATE TABLE "Lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [26]:
pd.read_csv('ny_taxi_data/taxi_zone_lookup.csv').columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [31]:
df2.to_sql(name='lookup', con=engine, if_exists='append')

265